<form action="<%= @action_url %>" method="post" class="helpable" id="form">
  <input type="hidden" name="_type" value="<%= @type %>">
  <input type="hidden" name="_subtype" value="<%= @subtype %>">
  <% if @all %><input type="hidden" name="_all" value=""><% end %>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">
        <% if @all %>
          All fields
        <% else %>
          <span class="fa fa-<%= @subtype_icon %>"></span>
        <% end %>
        <%= @subtype_label || "" %>
      </h3>
    </div>

    <div class="panel-body">

      <% if params.key?('url') || params.key?('_url') %>
        <div class="form-group">
          <label>URL</label>
          <input class="form-control" type="url" name="_url" readonly
            value="<%= h params[:url] || params[:_url] %>">
        </div>
      <% end %>

      <% if @all || @properties.include?('in-reply-to') %>
        <div class="form-group">
          <label for="in-reply-to">
            In Reply To
            <% if @required.include?('in-reply-to') %><span class="required" title="required">*</span><% end %>
          </label>
          <textarea class="form-control" rows="1" name="in-reply-to[]" id="in-reply-to"
            <% if @required.include?('in-reply-to') %>required<% end %>
            ><%= h @post.properties['in-reply-to'].join("\n") if @post.properties.key?('in-reply-to') %></textarea>
          <p class="help-block">
            Enter the URL of the post to which you are replying.
            You can enter multiple URLs separated by whitespace if your server supports this.
            <code>in-reply-to[]</code>
          </p>
        </div>
        <%= autogrow_script('in-reply-to') %>
      <% end %>

      <% if @all || @properties.include?('repost-of') %>
        <div class="form-group">
          <label for="repost-of">
            Repost Of
            <% if @required.include?('repost-of') %><span class="required" title="required">*</span><% end %>
          </label>
          <textarea class="form-control" rows="1" name="repost-of[]" id="repost-of"
            <% if @required.include?('repost-of') %>required<% end %>
            ><%= h @post.properties['repost-of'].join("\n") if @post.properties.key?('repost-of') %></textarea>
          <p class="help-block">
            Enter the URL of the post that you are reposting.
            You can enter multiple URLs separated by whitespace if your server supports this.
            <code>repost-of[]</code>
          </p>
        </div>
        <%= autogrow_script('repost-of') %>
      <% end %>

      <% if @all || @properties.include?('like-of') %>
        <div class="form-group">
          <label for="like-of">
            Like Of
            <% if @required.include?('like-of') %><span class="required" title="required">*</span><% end %>
          </label>
          <textarea class="form-control" rows="1" name="like-of[]" id="like-of"
            <% if @required.include?('like-of') %>required<% end %>
            ><%= h @post.properties['like-of'].join("\n") if @post.properties.key?('like-of') %></textarea>
          <p class="help-block">
            Enter the URL of the post that you like.
            You can enter multiple URLs separated by whitespace if your server supports this.
            <code>like-of[]</code>
          </p>
        </div>
        <%= autogrow_script('like-of') %>
      <% end %>

      <% if @all || @properties.include?('bookmark-of') %>
        <div class="form-group">
          <label for="bookmark-of">
            Bookmark Of
            <% if @required.include?('bookmark-of') %><span class="required" title="required">*</span><% end %>
          </label>
          <textarea class="form-control" rows="1" name="bookmark-of[]" id="bookmark-of"
            <% if @required.include?('bookmark-of') %>required<% end %>
            ><%= h @post.properties['bookmark-of'].join("\n") if @post.properties.key?('bookmark-of') %></textarea>
          <p class="help-block">
            Enter the URL of the page you wish to bookmark.
            You can enter multiple URLs separated by whitespace if your server supports this.
            <code>bookmark-of[]</code>
          </p>
        </div>
        <%= autogrow_script('bookmark-of') %>
      <% end %>

      <% if @all || @properties.include?('listen-of') %>
        <div class="form-group">
          <label for="listen-of">
            Listen Of
            <% if @required.include?('listen-of') %><span class="required" title="required">*</span><% end %>
          </label>
          <textarea class="form-control" rows="1" name="listen-of[]" id="listen-of"
            <% if @required.include?('listen-of') %>required<% end %>
            ><%= h @post.properties['listen-of'].join("\n") if @post.properties.key?('listen-of') %></textarea>
          <p class="help-block">
            Enter the URL of the podcast you listened to.
            You can enter multiple URLs separated by whitespace if your server supports this.
            <code>listen-of[]</code>
          </p>
        </div>
        <%= autogrow_script('listen-of') %>
      <% end %>

      <% if @all || @properties.include?('ate') %>
        <input type="hidden" name="ate[][type][]" value="h-food">
        <div class="form-group">
          <label>
            Ate
            <% if @required.include?('ate') %><span class="required" title="required">*</span><% end %>
          </label>

          <input type="text" class="form-control" name="ate[][properties][name][]"
            <% if @required.include?('ate') %>required<% end %>
            value="<%= h @post.properties['ate'][0]['properties']['name'][0] if @post.properties.key?('ate') %>">

          <p class="help-block">
            Enter the name of the food you ate.
            <code>ate</code>
          </p>
        </div>
      <% end %>

      <% if @all || @properties.include?('drank') %>
        <input type="hidden" name="drank[][type][]" value="h-food">
        <div class="form-group">
          <label>
            Drank
            <% if @required.include?('drank') %><span class="required" title="required">*</span><% end %>
          </label>

          <input type="text" class="form-control" name="drank[][properties][name][]"
            <% if @required.include?('drank') %>required<% end %>
            value="<%= h @post.properties['drank'][0]['properties']['name'][0] if @post.properties.key?('drank') %>">

          <p class="help-block">
            Enter the name of the drink you drank.
            <code>drank</code>
          </p>
        </div>
      <% end %>

      <% if @all || @properties.include?('photo') %>
        <div class="form-group">
          <label for="photo">
            Photo
            <% if @required.include?('photo') %><span class="required" title="required">*</span><% end %>
          </label>
          <textarea class="form-control" rows="1" name="photo[]" id="photo"
            <% if @required.include?('photo') %>required<% end %>
            ><%= h @post.properties['photo'].join("\n") if @post.properties.key?('photo') %></textarea>

            <% if @media %>
              <script>document.write(`
                <input type="file" id="photo_file" name="file" style="display: none;" />
                <button type="button" class="btn btn-default" style="margin-top: 5px;" id="upload_photo" data-toggle="button" aria-pressed="false" autocomplete="off">Upload Photo</button>
              `)</script>
            <% end %>

          <p class="help-block">
            Enter the URL of the photo.
            You can enter multiple URLs separated by whitespace if your server supports this.
            <code>photo[]</code>
          </p>
        </div>
        <%= autogrow_script('photo') %>
      <% end %>

      <% if @all || @properties.include?('rsvp') %>
        <% rsvp = @post.properties.key?('rsvp') ? @post.properties['rsvp'][0] : '' %>
        <div class="form-group">
          <label for="rsvp">
            RSVP
            <% if @required.include?('rsvp') %><span class="required" title="required">*</span><% end %>
          </label>
          <br>
          <label class="radio-inline">
            <input type="radio" name="rsvp" value="yes" <% if rsvp == 'yes' %>checked<% end %>> Yes
          </label>
          <label class="radio-inline">
            <input type="radio" name="rsvp" value="no" <% if rsvp == 'no' %>checked<% end %>> No
          </label>
          <label class="radio-inline">
            <input type="radio" name="rsvp" value="maybe" <% if rsvp == 'maybe' %>checked<% end %>> Maybe
          </label>
          <label class="radio-inline">
            <input type="radio" name="rsvp" value="interested" <% if rsvp == 'interested' %>checked<% end %>> Interested
          </label>
          <p class="help-block">
            Select your response to the event.
            <code>rsvp</code>
          </p>
        </div>
      <% end %>

      <% if @properties.include?('checkin') %>
        <input type="hidden" name="checkin[][type][]" value="h-card">
        <div class="form-group">
          <label>
            Location
            <% if @required.include?('checkin') %><span class="required" title="required">*</span><% end %>
          </label>
          <input type="text" class="form-control" name="checkin[][properties][name][]"
            <% if @required.include?('checkin') %>required<% end %>
            value="<%= h @post.properties['checkin'][0]['properties']['name'][0] if @post.properties.key?('checkin') %>">
          <p class="help-block">
            Enter the check-in location's name in free text.
            Check-ins are defined as <a href="http://microformats.org/wiki/h-card">h-card</a> objects.
            <code>checkin{name}</code>
          </p>
        </div>
        <div class="form-group">
          <div class="form-inline">
            <label>
              Latitude
              <% if @required.include?('checkin') %><span class="required" title="required">*</span><% end %>
            </label>
            <input type="text" class="form-control" name="checkin[][properties][latitude][]"
              id="latitude" pattern="-?\d{1,3}\.\d+"
              <% if @required.include?('checkin') %>required<% end %>
              value="<%= h @post.properties['checkin'][0]['properties']['latitude'][0] if @post.properties.key?('checkin') && @post.properties['checkin'].is_a?(Array) %>">
            &nbsp;
            <label>
              Longitude
              <% if @required.include?('checkin') %><span class="required" title="required">*</span><% end %>
            </label>
            <input type="text" class="form-control" name="checkin[][properties][longitude][]"
              id="longitude" pattern="-?\d{1,3}\.\d+"
              <% if @required.include?('checkin') %>required<% end %>
              value="<%= h @post.properties['checkin'][0]['properties']['longitude'][0] if @post.properties.key?('checkin') && @post.properties['checkin'].is_a?(Array) %>">
            <script>
              document.write("&nbsp; <button type=\"button\" class=\"btn btn-default\" id=\"find_location\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">Find</button>");
            </script>
          </div>
          <p class="help-block">
            Enter the latitude and longitude coordinates for the check-in.
            <code>checkin{latitude}</code>
            <code>checkin{longitude}</code>
          </p>
        </div>
      <% end %>

      <% if @all || @properties.include?('name') %>
        <div class="form-group">
          <label for="name">
            Name
            <% if @required.include?('name') %><span class="required" title="required">*</span><% end %>
          </label>
          <input type="text" class="form-control" id="name" name="name"
            <% if @required.include?('name') %>required<% end %>
            value="<%= h @post.properties['name'][0] if @post.properties.key?('name') %>">
          <p class="help-block">
            Enter a name/title for this post.
            <code>name</code>
          </p>
        </div>
      <% end %>

      <% if @all || @properties.include?('content') %>
        <div class="form-group">
          <label for="content">
            Content
            <% if @required.include?('content') %><span class="required" title="required">*</span><% end %>
          </label>
          &nbsp;
          <% if (@edit && @post.properties.key?('content') && !@post.properties['content'][0].is_a?(Hash)) || (@properties.include?('content') && @subtype != 'article') || (@properties.include?('content') && params.key?('format') && params['format'] == 'text') %>
            <% if @subtype == 'article' && !@edit %>
              <a href="?<%= URI.encode_www_form(params.merge({format:'editor'})) %>">Editor</a> |
              <a href="?<%= URI.encode_www_form(params.merge({format:'html'})) %>">HTML</a> |
              <strong>Text</strong>
            <% end %>
            <div style="float: right;">
              <span class="badge" id="content_count"></span>
            </div>
            <textarea class="form-control" rows="5" name="content" id="content"
              <% if @required.include?('content') %>required<% end %>
              ><%= h @post.properties['content'][0] if @post.properties.key?('content') %></textarea>
            <p class="help-block">
              Enter content for this post.
              You should use plain text or markup if your server supports this.
              <code>content</code>
            </p>
            <%= autogrow_script('content') %>
          <% elsif (@edit && @post.properties.key?('content') && @post.properties['content'][0].is_a?(Hash)) || (@properties.include?('content') && @subtype == 'article') %>
            <% if !params.key?('format') || params['format'] == 'editor' %>
              <strong>Editor</strong>
            <% else %>
              <a href="?<%= URI.encode_www_form(params.merge({format:'editor'})) %>">Editor</a>
            <% end %> |
            <% if params.key?('format') && params['format'] == 'html' %>
              <strong>HTML</strong>
            <% else %>
              <a href="?<%= URI.encode_www_form(params.merge({format:'html'})) %>">HTML</a>
            <% end %>
            <% unless @edit %>
              | <a href="?<%= URI.encode_www_form(params.merge({format:'text'})) %>">Text</a>
            <% end %>
            <% content_html_value = @post.properties.key?('content') && @post.properties['content'][0].is_a?(Hash) && @post.properties['content'][0].key?('html') ? h(@post.properties['content'][0]['html']) : "" %>
            <% if params.key?('format') && params['format'] == 'html' %>
              <textarea id="content" class="form-control" rows="5" name="content[][html]"><%= content_html_value %></textarea>
              <%= autogrow_script('content') %>
            <% else %>
              <textarea id="content-html" class="form-control" rows="5" name="content[][html]"><%= content_html_value %></textarea>
              <trix-editor input="content-html" style="display: none;"></trix-editor>
            <% end %>
            <p class="help-block">
              Enter content for this post.
              You may use rich content via the embedded
              <a href="https://trix-editor.org">Trix</a> editor or, if your
              browser does not have JavaScript enabled, you can directly enter
              HTML.
              <code>content[][html]</code>
            </p>
          <% end %>
        </div>
      <% end %>

      <% if @all || @properties.include?('summary') %>
        <div class="form-group">
          <label for="summary">
            Summary
            <% if @required.include?('summary') %><span class="required" title="required">*</span><% end %>
          </label>
          <div style="float: right;">
            <span class="badge" id="summary_count"></span>
          </div>
          <textarea class="form-control" rows="2" name="summary" id="summary"
            <% if @required.include?('summary') %>required<% end %>
            ><%= h @post.properties['summary'][0] if @post.properties.key?('summary') %></textarea>
          <p class="help-block">
            Enter a text summary for this post.
            <code>summary</code>
          </p>
        </div>
        <%= autogrow_script('summary') %>
      <% end %>

      <% if @all || @properties.include?('category') %>
        <div class="form-group">
          <label for="category">
            Category
            <% if @required.include?('category') %><span class="required" title="required">*</span><% end %>
          </label>
          <input type="text" class="form-control tagged" id="category" name="category"
            <% if @required.include?('category') %>required<% end %>
            value="<%= h @post.properties['category'].join(', ') if @post.properties.key?('category') %>">
          <p class="help-block">
            Enter categories/tags and separate with commas.
            You may also enter URLs if your server supports them.
            <code>category[]</code>
          </p>
          <%= tokenfield_script('category') %>
        </div>
      <% end %>

      <% if @all || @properties.include?('location') %>
        <div class="form-group">
          <label>
            Location
            &nbsp;
            <input type="checkbox" id="auto_location">
            <span style="font-weight: normal;">Auto-detect?</span>
            <% if @required.include?('location') %><span class="required" title="required">*</span><% end %>
          </label>

          <input type="text" class="form-control"  name="location[]" id="location"
            <% if @required.include?('location') %>required<% end %>
            value="<%= h @post.properties['location'][0] if @post.properties.key?('location') %>">

            <p class="help-block">
              Enter a location for the post. If you check the "Auto-detect?" checkbox, a Geo URI
              will be generated for you. The browser will remember your choice for the next time.
              <code>location</code>
            </p>
        </div>
      <% end %>

      <% if @all || @properties.include?('post-status') || @properties.include?('visibility') %>
        <div class="form-group">
          <div class="form-inline">
            <% scopes_array = session[:scope].split(' ') %>
            <% if !scopes_array.include?('create') || scopes_array == ['draft'] %>
              <div class="form-group">
                <label for="post-status">Status&nbsp;</label>
                <select class="form-control" id="post-status" name="post-status" style="margin-right: 20px;">
                  <option>draft</option>
                </select>
              </div>
            <% elsif @all || @properties.include?('post-status') %>
              <div class="form-group">
                <label for="post-status">
                  Status&nbsp;
                  <% if @required.include?('post-status') %><span class="required" title="required">*</span><% end %>
                </label>
                <select class="form-control" id="post-status" name="post-status" style="margin-right: 20px;"
                    <% if @required.include?('post-status') %>required<% end %>>
                  <option></option>
                  <option<% if @post.properties.key?('post-status') && @post.properties['post-status'][0] == 'published' %> selected<% end %>>published</option>
                  <option<% if @post.properties.key?('post-status') && @post.properties['post-status'][0] == 'draft' %> selected<% end %>>draft</option>
                </select>
              </div>
            <% end %>
            <% if @all || @properties.include?('visibility') %>
              <div class="form-group">
                <label for="visibility">
                  Visibility&nbsp;
                  <% if @required.include?('visibility') %><span class="required" title="required">*</span><% end %>
                </label>
                <select class="form-control" id="visibility" name="visibility"
                    <% if @required.include?('visibility') %>required<% end %>>
                  <option></option>
                  <option<% if @post.properties.key?('visibility') && @post.properties['visibility'][0] == 'public' %> selected<% end %>>public</option>
                  <option<% if @post.properties.key?('visibility') && @post.properties['visibility'][0] == 'unlisted' %> selected<% end %>>unlisted</option>
                  <option<% if @post.properties.key?('visibility') && @post.properties['visibility'][0] == 'private' %> selected<% end %>>private</option>
                </select>
              </div>
            <% end %>
          </div>
          <p class="help-block">
            <% if @all || @properties.include?('post-status') %>
              Choose whether your post should be published or made a draft.
              <code>post-status</code>
            <% end %>
            <% if @all || @properties.include?('visibility') %>
              Select a visibility setting to indicate to your server whether
              this post should be made public, excluded from lists or be hidden
              as a private post.
              <code>visibility</code>
            <% end %>
            NB: Please check whether your server supports these values, or leave
            blank (default).
          </p>
        </div>
      <% end %>

      <div class="form-group">
        <label for="mp-syndicate-to">
          Syndicate To
          <% if @required.include?('mp-syndicate-to') %><span class="required" title="required">*</span><% end %>
        </label>
        <br>
        <% syndicate_to(@subtype).each do |syndication| %>
          <label class="checkbox-inline">
            <input type="checkbox" name="mp-syndicate-to[]" id="mp-syndicate-to" value="<%= h syndication['uid'] %>"
              <% if (!@edit && request.get? && syndication.key?('checked') && syndication['checked']) ||
                (@post.properties.key?('mp-syndicate-to') && @post.properties['mp-syndicate-to'].include?(syndication['uid'])) %>
                checked
              <% end %>
            ><%= h syndication['name'] %>
          </label>
        <% end %>
        <p class="help-block">
          Choose a service to syndicate to from your endpoint's
          <em>syndicate-to</em> list. If your services do not appear here then
          please <a href="/about#configuration">read the docs</a> to ensure
          you are using the correct format.
          <code>mp-syndicate-to[]</code>
        </p>
      </div>

      <% if !@edit %>
        <div class="form-group">
          <label for="mp-slug">
            Slug
            <% if @required.include?('mp-slug') %><span class="required" title="required">*</span><% end %>
          </label>
          <input type="text" class="form-control" id="mp-slug" name="mp-slug"
            <% if @required.include?('mp-slug') %>required<% end %>
            value="<%= h @post.properties['mp-slug'][0] if @post.properties.key?('mp-slug') %>">
          <p class="help-block">
            Enter a short slug you would like your server to use (if supported).
            <code>mp-slug</code>
          </p>
        </div>
      <% end %>

      <% if @edit %><hr><% end %>

      <% if @all || @edit || @properties.include?('syndication') %>
        <div class="form-group">
          <label for="syndication">
            Syndication
            <% if @required.include?('syndication') %><span class="required" title="required">*</span><% end %>
          </label>
          <textarea class="form-control" rows="1" name="syndication[]" id="syndication"
            <% if @required.include?('syndication') %>required<% end %>
            ><%= h @post.properties['syndication'].join("\n") if @post.properties.key?('syndication') %></textarea>
          <p class="help-block">
            Enter URL(s) of alternative locations for this post separated by
            whitespace.
            <code>syndication[]</code>
          </p>
        </div>
        <%= autogrow_script('syndication') %>
      <% end %>

      <% if @all || @edit || @properties.include?('published') %>
        <div class="form-group">
          <label for="published">
            Published
            <% if @required.include?('published') %><span class="required" title="required">*</span><% end %>
          </label>
          <input type="datetime" class="form-control" id="published" name="published"
            <% if @required.include?('published') %>required<% end %>
            value="<%= h @post.properties['published'][0] if @post.properties.key?('published') %>">
          <p class="help-block">
            Enter a datetime for when this post was (or will be) published.
            The suggested format is YYYY-MM-DDTHH:MM:SSZ,
            e.g. 2016-11-21T12:34:56Z for a post at 12:34:56 UTC on 21 November
            2016.
            <code>published</code>
          </p>
        </div>
      <% end %>

      <% if channels && channels.is_a?(Array) %>
        <div class="form-group">
          <label>
            Channel
            <% if @required.include?('mp-channel') %><span class="required" title="required">*</span><% end %>
          </label>
          <br>
          <% channels.each do |channel| %>
            <% if channel.is_a?(Hash) %>
              <% uid = channel['uid']; name = channel['name'] %>
            <% else %>
              <% uid = channel; name = channel %>
            <% end %>
            <label class="checkbox-inline">
              <input type="checkbox" name="mp-channel[]" value="<%= h uid %>"
                <% if @post.properties.key?('mp-channel') && @post.properties['mp-channel'].include?(uid) %>
                  checked
                <% end %>
              ><%= h name %>
            </label>
          <% end %>
          <p class="help-block">
            Choose optional channels from your server's list of channels.
            <code>mp-channel[]</code>
          </p>
        </div>
      <% end %>

    </div>

    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">
        <%= @action_label %>
      </button>
      <button type="submit" name="_preview" class="btn btn-default"
        id="preview">Preview</button>
      <script>
        document.write("<button type=\"button\" class=\"btn btn-default\" id=\"helpable-toggle\" data-toggle=\"button\" aria-pressed=\"false\" autocomplete=\"off\">Help</button>");
      </script>
    </div>

  </div>
</form>

<div id="preview-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Preview</h4>
      </div>
      <div class="modal-body">
        <div id="preview-content"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
