<ul class="nav nav-pills">
  <% post_types.keys.each do |post_type| %>
    <li role="presentation" class="<% if @post_type == post_type %>active<% end %>">
      <a href="/new/<%= post_type.to_s %>" title="<%= post_types[post_type][:label] %>">
        <span class="fa fa-<%= post_types[post_type][:icon] %>"></span>
        <span class="post-type-label"><%= post_types[post_type][:label] %></span>
      </a>
    </li>
  <% end %>
</ul>

<br>
<form action="/create" method="post">

  <% if post_types[@post_type][:fields].include?(:bookmark) %>
    <div class="form-group">
      <label for="bookmark">Bookmark</label>
      <input type="url" class="form-control" name="bookmark" id="bookmark"
        placeholder="http://" value="<%= params['bookmark'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:in_reply_to) %>
    <div class="form-group">
      <label for="in_reply_to">In Reply To</label>
      <input type="url" class="form-control" name="in_reply_to" id="in_reply_to"
        placeholder="http://" value="<%= params['in_reply_to'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:like_of) %>
    <div class="form-group">
      <label for="like_of">Like Of</label>
      <input type="url" class="form-control" name="like_of" id="like_of"
        placeholder="http://" value="<%= params['like_of'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:repost_of) %>
    <div class="form-group">
      <label for="repost_of">Repost Of</label>
      <input type="url" class="form-control" name="repost_of" id="repost_of"
        placeholder="http://" value="<%= params['repost_of'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:name) %>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name"
        value="<%= params['name'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:content) %>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" rows="8" id="content" name="content"><%= params['content'] %></textarea>
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:category) %>
    <div class="form-group">
      <label for="category">Tags</label>
      <input type="text" class="form-control" name="category" id="category"
        placeholder="tag1 tag2 tag3" value="<%= params['category'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:syndications) && !syndicate_to.nil? %>
    <div class="form-group">
      <label>Syndications:</label> &nbsp;
      <% syndicate_to.each do |syndication| %>
        <label class="checkbox-inline">
          <input type="checkbox" name="syndicate_to" value="<%= syndication %>">
          <%= syndication_label(syndication) %>
        </label>
      <% end %>
    </div>
  <% end %>

  <button type="submit" class="btn btn-default">Create <%= post_types[@post_type][:label] %></button>
</form>
