<ul class="nav nav-tabs">
  <% post_types.keys.each do |post_type| %>
    <li role="presentation" class="<% if @post_type == post_type %>active<% end %>">
      <a href="/new/<%= post_type.to_s %>" title="<%= post_types[post_type][:label] %>">
        <span class="fa fa-<%= post_types[post_type][:icon] %>"></span>
        <span class="post-type-label"><%= post_types[post_type][:label] %></span>
      </a>
    </li>
  <% end %>
</ul>

<% if flash['notice'] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<br>
<form action="/create" method="post">

  <% if post_types[@post_type][:fields].include?(:bookmark) %>
    <div class="form-group">
      <label for="bookmark">Bookmark</label>
      <input type="url" class="form-control" name="bookmark" id="bookmark"
        placeholder="http://" value="<%= h params['bookmark'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:in_reply_to) %>
    <div class="form-group">
      <label for="in_reply_to">In Reply To</label>
      <input type="url" class="form-control" name="in_reply_to" id="in_reply_to"
        placeholder="http://" value="<%= h params['in_reply_to'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:like_of) %>
    <div class="form-group">
      <label for="like_of">Like Of</label>
      <input type="url" class="form-control" name="like_of" id="like_of"
        placeholder="http://" value="<%= h params['like_of'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:repost_of) %>
    <div class="form-group">
      <label for="repost_of">Repost Of</label>
      <input type="url" class="form-control" name="repost_of" id="repost_of"
        placeholder="http://" value="<%= h params['repost_of'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:name) %>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name"
        value="<%= h params['name'] %>">
    </div>
  <% end %>

  <% if post_types[@post_type][:fields].include?(:content) %>
    <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" rows="6" id="content" name="content"><%= h params['content'] %></textarea>
    </div>
  <% end %>

  <div class="form-group">
    <label for="category">Tags</label>
    <input type="text" class="form-control" name="category" id="category"
      placeholder="tag1 tag2 tag3" value="<%= h params['category'] %>">
  </div>

  <% if post_types[@post_type][:fields].include?(:content) %>
    <div class="form-group">
      <label>
        Summary
        <a href="#" id="refresh_summary_button" class="btn btn-default btn-xs">Refresh</a>
        &nbsp;
        <span class="fa fa-twitter"></span>
        <span id="summary_count">-</span>
      </label>
      <textarea class="form-control" rows="2" id="summary" name="summary"><%= h params['content'] %></textarea>
    </div>
  <% end %>

  <% unless syndicate_to.nil? %>
    <div class="form-group">
      <label>Syndications</label><br>
      <% syndicate_to.each do |syndication| %>
        <% unless syndication.is_a?(String) %>
          <label class="checkbox-inline">
            <input type="checkbox" name="syndicate_to" value="<%= h syndication['uid'] %>">
            <%= h syndication['name'] %>
          </label>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <button type="submit" class="btn btn-default">Create <%= post_types[@post_type][:label] %></button>
</form>

<% if post_types[@post_type][:fields].include?(:content) %>
  <script>
    function update_summary_count() {
      var summary = document.getElementById('summary');
      var summary_count = document.getElementById('summary_count');
      summary_count.innerHTML = twttr.txt.getTweetLength(summary.value);
    }
    function refresh_summary() {
      var summary = document.getElementById('summary');
      var content = document.getElementById('content');
      var category = document.getElementById('category');
      var tags_text = category.value.length ? " #" + category.value.split(' ').join(' #') : "";
      var repost_text = <% if @post_type == :repost %> " " + document.getElementById('repost_of').value<% else %>""<% end %>;
      summary.value = content.value + tags_text + repost_text;
      update_summary_count();
      return false
    }
    document.getElementById('summary').onkeyup = update_summary_count;
    document.getElementById('refresh_summary_button').onclick = refresh_summary;
  </script>
<% end %>
